.card-container {
  width: 92%;
  margin: 3vh;
  padding: 3vh;

  
  background-color: rgba(157, 78, 4, 0.705);
  border-radius: 2VH;
  backface-visibility: hidden;
  font-size: 2vh;
}

.data-container {
  display: flex;
}

.text-container {
  text-align: left;
  margin-left: 2vh;
  font-size: 3vh;
}


.card-container:hover {
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  transform: scale(1.05);
}

.card-container img {
  width: 80%; 
  height: auto; 
  border: 1px solid white;
  border-radius: 2VH;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container-font {
  font-size: 15px;
  color: rgb(28, 28, 28);
}

.card-container h1{
  color: white;
  font-size: 7vh;
}

/* Media query para dispositivos con un ancho máximo de 768px (versión móvil) */
@media only screen and (max-width: 768px) {
  .card-container {
    width: 70%;
    margin: 3vh;
    padding: 3vh;
  }

  .card-container h1{
    color: white;
    font-size: 5vh;
  }

  .card-container img {
    width: 100%;
  }

  .text-container {
    text-align: center;
    margin-left: 2vh;
    font-size: 2vh;
  }

  .data-container {
    flex-direction: column;
  }
}
