.card-container {
  width: 90%;
  margin: 5vh;
  padding: 4vh;

  
  background-color: rgba(157, 78, 4, 0.705);
  border-radius: 20px;
  backface-visibility: hidden;
  font-size: 15px;
}

.data-container {
  display: flex;
}

.text-container {
  text-align: left;
  margin-left: 2vh;
  font-size: 3vh;
}


.card-container:hover {
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  transform: scale(1.05);
}

.card-container img {
  width: 100%; /* Hacer la imagen ocupar el 100% del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
  border: 1px solid white;
  border-radius: 20px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container-font {
  font-size: 15px;
  color: rgb(28, 28, 28);
}

.card-container h1{
  color: white;
  font-size: 7vh; /* Ajustar el tamaño del título */
}

/* Media query para dispositivos con un ancho máximo de 768px (versión móvil) */
@media only screen and (max-width: 768px) {
  .card-container {
    flex-direction: column; /* Cambiar a una disposición de columna */
  }
}
