.create-container {
    flex-direction: row;
    background-size: cover;
    align-items: center;
    align-content: center;
    min-width: 100vh;
    min-height: 100vh;
  }

  .create-container button{
    margin-right: 100%;
  }