.checkBox-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vh;
  width: 70vh;
  height: 50vh;
}

div {
  margin-right: 0.2vh;
  margin-bottom: 0.5vh;
}

label {
  margin-left: 0.5vw;
  font-size: 2.5vh;
}

input {
  size: 3vh;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination span{
  font-size: 2.5vh;
  color: #ffffff;
  background-color: rgb(24, 24, 24);
  padding: 1vh;
  margin: 1vh;
  border-radius: 1vh;
  width: 9vh;
  height: 4vh;
}

.pagination p{
  color: #ffffff;
  background-color: rgb(24, 24, 24);
  padding: 1vh;
  margin: 1vh;
  border-radius: 1vh;
  width: 4vh;
  height: 4vh;
}

.pagination p:hover{
  background-color: #fbfbfb;
  color: black;
}